rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /events/{document=**} {
      allow read;
    }
    match /{collection}/{document=**} {
      allow read: if collection.matches('comments-.*') == true
    }
    match /accounts/{accountId} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == accountId;
    }
  }
}
